In [1]:
import pandas as pd

In [3]:
x1_labels = ["Slow", "Average", "Fast"]
x2_labels = ["Boring", "Ok", "Entertaining"]

In [12]:
def create_tables(x1, x2):
    prim_table = pd.DataFrame(columns=x1, index=x2)
    sec_table = pd.DataFrame(columns=x1, index=x2)
    return prim_table, sec_table

In [19]:
prim, sec = create_tables(x1_labels, x2_labels)

In [20]:
prim

             Slow Average Fast
Boring        NaN     NaN  NaN
Ok            NaN     NaN  NaN
Entertaining  NaN     NaN  NaN

In [21]:
sec

             Slow Average Fast
Boring        NaN     NaN  NaN
Ok            NaN     NaN  NaN
Entertaining  NaN     NaN  NaN

In [23]:
prim.loc["Boring"]["Slow"] = 1

In [24]:
prim

             Slow Average Fast
Boring          1     NaN  NaN
Ok            NaN     NaN  NaN
Entertaining  NaN     NaN  NaN