In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('dataset.csv', header = 0, sep = ';')

In [10]:
df

   driver_style  conversation  rating
0          1.00          1.00    1.00
1          0.75          1.00    0.80
2          0.50          0.50    0.50
3          0.10          0.20    0.15
4          0.01          0.01    0.01
5          0.75          0.50    0.65
6          0.20          0.50    0.30
7          0.50          0.01    0.30

In [11]:
list_of_rows = [list(row) for row in df.values]

In [12]:
list_of_rows

[[1.0, 1.0, 1.0],
 [0.75, 1.0, 0.8],
 [0.5, 0.5, 0.5],
 [0.1, 0.2, 0.15],
 [0.01, 0.01, 0.01],
 [0.75, 0.5, 0.65],
 [0.2, 0.5, 0.3],
 [0.5, 0.01, 0.3]]